.Container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.Container2{
  display: flex;
}

@media only screen and (max-width: 900px) {
  .Container2{
    display: flex;
    flex-direction: column;
  }
}